<link rel="stylesheet" type="text/css" href="~/css/styles.css">
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Project Future - Team 3</h3>
        </div>



        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/TeamIcons/zaridakis.jpg" alt="" />
                    <h4>Alexandros Zaridakis</h4>
                    <p class="text-muted">Junior Developer</p>
                    <button type="button" onclick="parent.open('https://www.linkedin.com/in/christos-natsis/')" class="btn btn-info"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
                    <button type="button" onclick="parent.open('https://github.com/zaridak')" class="btn btn-secondary"><i class="fa fa-git-square"></i> GitHub</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/TeamIcons/thanaselos.jpg" alt="" />
                    <h4>Konstantinos Thanaselos</h4>
                    <p class="text-muted">Junior Developer</p>
                    <button type="button" onclick="parent.open('https://www.linkedin.com/in/konstantinos-thanaselos/')" class="btn btn-info"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
                    <button type="button" onclick="parent.open('https://github.com/kthanaselos')" class="btn btn-secondary"><i class="fa fa-git-square"></i> GitHub</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/TeamIcons/skiada.jpg" alt="" />
                    <h4>Diamanto Skiada</h4>
                    <p class="text-muted">Junior Developer</p>
                    <button type="button" onclick="parent.open('https://www.linkedin.com/in/diamanto-skiada/')" class="btn btn-info"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
                    <button type="button" onclick="parent.open('https://github.com/chrinats')" class="btn btn-secondary"><i class="fa fa-git-square"></i> GitHub</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-member col-md-12">
                            <img class="mx-auto rounded-circle" src="~/TeamIcons/kritharis.jpg" alt="">
                            <h4>Xaris Kritharis</h4>
                            <p class="text-muted">Junior Developer</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" onclick="parent.open('https://www.linkedin.com/in/harry-kritharis')" class="btn btn-info"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
                                    <button type="button" onclick="parent.open('https://github.com/HarrisKrith')" class="btn btn-secondary"><i class="fa fa-git-square"></i> GitHub</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-member col-md-12">
                            <img class="mx-auto rounded-circle" src="~/TeamIcons/natsis.jpeg" alt="">
                            <h4>Christos Natsis</h4>
                            <p class="text-muted">Junior Developer</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" onclick="parent.open('https://www.linkedin.com/in/christos-natsis/')" class="btn btn-info"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
                                    <button type="button" onclick="parent.open('https://github.com/chrinats')" class="btn btn-secondary"><i class="fa fa-git-square"></i> GitHub</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Project Future by Piraeus Bank</p></div>
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">powered by ReGeneration Academy</p></div>
        </div>
    </div>
</section>