
@{
    ViewData["Title"] = "Create";
}
@model Crowdfund.Core.Model.Project
<!--Create project form-->
<form method="post" class="new-project-form">
    <h2>Create a project</h2>
    <div class="form-group">
        <input name="UserId" id="UserId" value="6" style="display:none" />

        <label for="InputTitle">Title</label>
        <input type="text" id="Title" value="" class="form-control" name="Title" required>

        <label for="InputDescription">Description</label>
        <textarea class="form-control" id="Description" name="Description" rows="3" required></textarea>

        <label for="InputCategory">Category</label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Crowdfund.Core.Model.ProjectCategory>()" class="form-control" id="Category" name="Category" required>
            <option disabled selected>Select Category</option>
        </select>

        <label>Image URL</label>
        <input type="url" id="ImageURL1" value="" class="form-control" name="ImageURL1" required>
        <input type="url" id="ImageURL2" value=" " class="form-control" style="margin-top: 3px;" name="ImageURL2">
        <input type="url" id="ImageURL3" value="  " class="form-control" style="margin-top: 3px;" name="ImageURL3">

        <label>Video URL</label>
        <input type="url" id="VideoURL" value="    " class="form-control" name="VideoURL">

        <label>Financial Goal</label>
        <input type="number" id="FinancialGoal" value="" class="form-control" name="FinancialGoal" required />
    </div>
    <input type="button" class="btn btn-primary js-submit-project" onclick="createProject()" value="Submit" />

    <div class="alert alert-success js-project-success-alert" role="alert">
        Project was create successfully!
    </div>

    <div class="alert alert-danger js-project-fail-alert" role="alert">
        Project could not be created!
    </div>
</form>

<!--Create package form-->

<form method="post" class="new-project-form-packages">
    <h2>Create a package for your project</h2>
    <div class="form-group">
        <input name="ProjectId" id="ProjectId" style="display:none" />

        <label for="InputDescription">Description</label>
        <textarea class="form-control" id="Description" name="Description" rows="3" required></textarea>

        <label>Price</label>
        <input type="number" id="Price" value="" class="form-control" name="Price" required />
    </div>
    <input type="button" class="btn btn-primary" onclick="addPackageToProject()" value="Submit" />

    <div class="alert alert-success js-success-alert" role="alert">
        Package was created successfully!
    </div>

    <div class="alert alert-danger js-fail-alert" role="alert">
        Package could not be created!
    </div>
</form>
